#ifndef CREDENTIALS_H
#define CREDENTIALS_H

// WiFi credentials
static const char *WIFI_SSID = "YOUR_WIFI_SSID";
static const char *WIFI_PASS = "YOUR_WIFI_PASSWORD";

// MQTT credentials
static const char *MQTT_SERVER = "broker.hivemq.com";
static const uint16_t MQTT_PORT = 1883;

#endif // CREDENTIALS_H
